.one{
    background-image:url(elka.png) ;
    margin:0;
    width:100%;
    height:750px;
    


}
body{
    margin:0;
}
/*Затемнение дисплея*/
.overlay {
    background-color: rgba(1, 0, 0, 0.77);
    right: 0;
    left: 0;
    position: fixed; 
    top: 0;
    bottom: 0;
    z-index: 11;
    display: none;
}
a{
    text-decoration: none;
    font-family: inherit;
    font-size:30px;
    margin: auto;
    color:crimson;
}
/*Слой становится видимым*/
.overlay:target {
    display: block;
}
/*Растягиваю картинку на всю ширину попапа*/
.window img { 
   width: 100%;
}
.elka{
    width:300px;
    height:600px;
    
}
h1{
    font-size:30px;
}
/*Характеристики самого окна, которое появляется после клика на кнопке*/
.window {
    left: 50%;
    z-index: 12;
    position: fixed;
    padding: 15px;
    border: 1px solid #383738;
    background: #fefeff;
    border-radius: 15px;
    box-shadow: 0 13px 21px rgba(0,1,0,.19),0 21px 63px rgba(0,1,0,.31);
    transform: translate(-50%, -450%);
    transition: transform 0.6s ease-out;
}
/*Появление модального окошка с верхнего края экрана*/
.overlay:target+.window {
    transform: translate(-50%, 0);
    top: 17%;
}
.year{
    font-size:60px;
    text-align: center;
    color:red;
    font-family: fantasy;
}
.ela{
    width:100%;
    height:400px;
    background-color:beige;
}
/*Внешний вид кнопки «Закрыть»*/
.close {
    top: -11px;
    right: -11px;
    width: 23px;
    height: 23px;
    position: absolute;
    padding: 0;
    border: 2px solid #ccd;
    border-radius: 15px;
    background-color: rgba(61, 61, 61, 0.81);
    box-shadow: 0 0 12px #010;
    text-align: center;
    text-decoration: none;
    font: 18px sans-serif;
    font-weight: bold;
    transition: all ease .9s;
}
.eli{
    background-image: url(sneg.png);
    width:100%;
    height:400px;
    font-size:50px;
    text-align: center;
    font-family: cursive;
    color:red;
}
.domelka{
    display: flex;
    justify-content:space-around;
}
.close:before {
    color: rgba(254, 254, 254, 0.89);
    content: "X";
    text-shadow: 0 1px 3px #010;
    font-size: 14px;
}
/*Изменение характеристик при наведении на область */
.close:hover {
    background-color: rgba(253, 21, 0, 0.83);
    transform: rotate(360deg);    
}
/*Оформление главной кнопки*/
#button {

  margin-left: 55%;
font-size:85px;
  border-radius: 15px;
    background-color: rgba(63, 63, 63, 0.9);
    box-shadow: 2px 3px 10px #black;
    text-align: center;
    text-decoration: none;
   background: #DCDCDC; 
    padding: 6px 20px; 
}